{% extends "layout.html" %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Fecha de Pedido</th>
                    <th>Monto Total</th>
                    <th>Vendedor</th>
                    <th>Paciente</th>
                    <th>Tipo de Pago</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Fecha de Pedido</th>
                    <th>Monto Total</th>
                    <th>Vendedor</th>
                    <th>Paciente</th>
                    <th>Tipo de Pago</th>
                    <th>Acciones</th>
                </tr>
            </tfoot>
            <tbody>
                {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido.fechaDePedido }}</td>
                    <td>{{ pedido.montoTotal }}</td>
                    <td>{{ pedido.vendedor }}</td>
                    <td>{{ pedido.paciente }}</td>
                    <td>{{ pedido.tipoDePago }}</td>
                    <td><ul class="list-inline m-0">
                        <li class="list-inline-item">
                            <a class="btn btn-success btn-sm rounded-0" href={% url 'ver_pedido' id=pedido.id %} id="ver_turno_{{ pedido.id }}" title="Ver"><i class="fa fa-eye"></i></a>
                        </li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}